


:root {
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
}
.font-agbalumo {
  font-family: 'Agbalumo', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;